.root{
    width:100%;
    height:100%;
    display:table;
    text-align: center;
}
.left{
    width:100%;
	position:fixed;
    margin-top:15%;
    display: none;
    vertical-align: middle;
}
.right{
    width:100%;
    float:right;
    position:fixed;
    height:100%;
    max-width: 100%;
	margin: 0 0;
    background-color:#A8BAD1;
    justify-content: center;
    display: table-cell;
}
.formLog{
    background-color: #fefefe;
    margin-top: 2% ;
    margin-left: 15%; 
    border: 10px groove #D9D9D9;
    border-radius: 5px;
    width: 70%; 
    min-width:230px;
    max-width: 1000px;
    min-height:600px;
    max-height: 700px;
}
input[type=text], input[type=password] {
    width: 98%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
.button2 {
    background-color:#2A5184;
    margin:15px 15px;
    color: white;
    border: 1px solid #A8BAD1;
    width:200px;
    font-size: 16px;
    border-radius: 12px;
    height: 5vh;
}
  
.button2:hover {
    margin:15px 15px;
    background-color: #01214B;
    color: white;
}
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.info{
    font-style: italic;
    color:red;
}

@media screen and (min-width: 640px) {
    .right{ width:100%;margin: 0 0;}
    .formLog{width:70%;
        margin-top: 2% ;}
}
@media screen and (min-width: 1024px) {
    .right{ width:70%;
        margin: 0 40%;}
    .left{width:40%;
    display:table-cell;}
    .formLog{width: 55%;
        margin-top: 2%;
    }
}