header {
	background-color:#01214B;
	color: #fff;
	position:sticky;
	top:0px;
	width:100%;
}
nav{
  display: flex;
  width: 70%;
  align-items: center;
  margin-left: auto;
  padding-right: 3%;
  font-size: 1.2em;
justify-content: right;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}
.menu{
  display: flex;
  width: 100%;
  padding-bottom: 5px;
}
.log{
  display: flex;
  width: 25%;
}
.ikonaM {
  width: 35px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  display:block;
}
.menuMini{
  padding: 10% 10%;
  margin-top: 5px;
}
.guzikiM{
   display:none;
}

@media screen and (min-width: 640px) {
  .guzikiM{display:inline-block;}
  .ikonaM{display:none;}
}
@media screen and (min-width: 1024px) {
  .guzikiM{display:inline-block;}
  .ikonaM{display:none;}
}